<div class='modal-header'>
    <button type="button" class="close" ng-click="no();"><span>&times;</span></button>
    <h4>Detalhes do contato</h4>
</div>
<div class='modal-body'><p><strong>Id: </strong>{{contactDetail.id}}</p>
    <p><strong>Nome: </strong>{{contactDetail.name}}</p>
    <p><strong>Phone: </strong>{{contactDetail.phone}}</p>
    <p><strong>Email: </strong>{{contactDetail.email}}</p>
</div>
<div class="modal-footer">
    <button type="button" ng-click="no();" class="btn btn-default">Cancelar</button>
</div>